<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
         syntaxCheck="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         bootstrap="vendor/autoload.php" >
    <testsuites>
        <testsuite name="Salt Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./</directory>
        </whitelist>
    </filter>
</phpunit>
